*{
    margin: 0%;
    padding: 0%;
}

.team-shield{
    background-color: beige;
    width: 5%;
    height: 5%;
}

.player-attributes img{
    background-color: beige;
    width: 5%;
    height: 5%;
}